<h1>{{title1}}</h1>
<span *ngIf="show; then ifBlock else elseBlock">
</span>
<ng-template #ifBlock>
  <h2>If Condition True</h2>
</ng-template>
<ng-template #elseBlock>
  <h2>Else Condition False</h2>
</ng-template>
<span *ngIf="display=='yes'; then yesdisplay else nodisplay">
</span>
<ng-template #yesdisplay>
  <h2>Display Yes</h2>
</ng-template>
<ng-template #nodisplay>
  <h2>Display No</h2>
</ng-template>
<h1>{{title2}}</h1>
<ng-template [ngIf]="name==='Bakugo'">
  <h3>Bakugo</h3>
</ng-template>
<ng-template [ngIf]="name==='Shoto'">
  <h3>Shoto</h3>
</ng-template>
<ng-template [ngIf]="name==='Deku'">
  <h3>Deku</h3>
</ng-template>
<h1>{{title3}}</h1>
<ul *ngFor="let hero of heroes">
  <li>{{hero.heroName}}</li>
  <li>{{hero.realName}}</li>
  <li>
    <ul *ngFor="let a of hero.acc">
      <li>{{a}}</li>
    </ul>
  </li>
</ul>
<form #basicForm="ngForm" (submit)="getFormData(basicForm.value)">
  <input type="text" name="username" placeholder="Enter username" ngModel><br><br>
  <input type="text" name="email" placeholder="Enter email" ngModel><br><br>
  <input type="password" name="password" placeholder="Enter password" ngModel><br><br>
  <button>Register</button>
</form>
<h2>{{userData.username}}</h2>
<h2>{{userData.email}}</h2>