<nav class="ui inverted blue menu">
  <a class="item" [routerLink]="['/']">
    <i class="icon home"></i>Home
  </a>
  <a class="item" [routerLink]="['/list']">
    <i class="icon users"></i>Student List
  </a>
  <a class="item" [routerLink]="['/edit']">
    <i class="icon plus"></i>Add
  </a>
</nav>
<router-outlet></router-outlet>
<h1>{{title | lowercase }}</h1>
<h2>{{today | date}}</h2>
<h2>{{capString('Kimetsu no Yaiba '+title)}}</h2>
<h2>{{capString('Kimetsu no Yaiba') | slice:3:8}}</h2>
<h3>{{ user | json | uppercase}}</h3>
<h3>{{ 003.4500 | number:'1.2'}}</h3>
<h3>{{ 100 | currency:"USD"}}</h3>
<h3>{{ newstr }}</h3>
<h3>{{ 200 | usdInr:70}}</h3>